body {
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 75px;
}

#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#info-two {
    padding: 50px 0 30px 0;
    text-align: auto;
    margin-top: 40px;
}

footer {
    background: url(../img/CellPhone.png) #f1f1f1;
}